.navbar {
  background-color: rgba(51, 51, 51, 0.5);
  color: white;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-links {
  list-style: none;
  margin-top: 0.7rem;
  display: flex;
  align-items: center;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 7px;
  transition: color 0.3s;
  cursor: pointer;
}

.nav-links li a:hover {
  color: #8FA08E;
}

.nav-links li {
  padding: 0.3rem;
}

@media (max-width: 768px) {
  .nav-links {
    position: static;
  }
}
