<app-navigation-bar></app-navigation-bar>

<header class="hero">
  <h1>Welcome to Travel Points</h1>
  <p>Discover new wonderful places around the world</p>
</header>

<section class="presentation-info">
  <div class="container">
    <img src="assets/images/about.webp" alt="About Us" class="presentation-image">
    <div class="presentation-text">
      <h2>About us</h2>
      <p>Travel Points is a user-friendly app that makes finding and learning about tourist spots and attractions very easy.
        Whether you’re interested in historical sites, nature parks, or city hotspots, this app has all the info you need.
        It's packed with photos, reviews, text and audio information.
      </p>
    </div>
  </div>
</section>


<section id="locations" class="destination-cards">
  <div class="card">
    <img src="assets/images/paris.jpg" alt="TouristAttraction 1">
    <div class="card-body">
      <h3>Paris</h3>
      <p>A romantic city celebrated for its famous landmarks, fine food, and rich art culture</p>
    </div>
  </div>
  <div class="card">
    <img src="assets/images/roma.jpg" alt="TouristAttraction 2">
    <div class="card-body">
      <h3>Rome</h3>
      <p>A historic city known for its ancient ruins, lively streets, and delicious food</p>
    </div>
  </div>
  <div class="card">
    <img src="assets/images/barcelona.webp" alt="TouristAttraction 3">
    <div class="card-body">
      <h3>Barcelona</h3>
      <p>A vibrant city famous for its unique buildings, beautiful beaches, and lively markets</p>
    </div>
  </div>
</section>

<section id="contact" class="contact-section">
  <h2>How can you contact us?</h2>
  <div class="contact-cards">
    <div class="contact-card">
      <i class="fa-solid fa-phone"></i>
      <h3>Phone number</h3>
      <p>+40 746 123 456</p>
    </div>
    <div class="contact-card">
      <i class="fa-solid fa-envelope"></i>
      <h3>Email</h3>
      <p>travelpoints&#64;gmail.com</p>
    </div>
  </div>
</section>


<footer class="site-footer">
  <div class="container">
    <p>&copy; 2024 Travel Points. All rights reserved.</p>
  </div>
</footer>
