<div class="box rounded-dialog">
  <h2 class="text-center">{{title}}</h2>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="container">
    <div *ngIf="!imagePath && this.data.id==-99" class="form-group">
      <label for="imagePath">Image Path</label>
      <input type="text" formControlName="imagePath" id="imagePath" class="form-control" placeholder="Enter Image Url" [(ngModel)]="imagePath">
    </div>
    <div *ngIf="imagePath" style="position: relative; display: inline-block;">
      <img [src]="imagePath" alt="Uploaded Image" style="display: block; width: 100%; height: auto;"/>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" formControlName="name" id="name" class="form-control" placeholder="Enter name">
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <input type="text" formControlName="location" id="location" class="form-control" placeholder="Enter location">
    </div>

    <div class="form-group">
      <label for="category">Category</label>
      <select formControlName="category" id="category" class="form-control">
        <option value="CULTURE">CULTURE</option>
        <option value="NATURE">NATURE</option>
        <option value="ENTERTAINMENT">ENTERTAINMENT</option>
        <option value="URBAN">URBAN</option>
        <option value="ADVENTURE">ADVENTURE</option>
      </select>
    </div>

    <div class="form-group">
      <label for="descriptionText">Description</label>
      <textarea formControlName="descriptionText" id="descriptionText" class="form-control" placeholder="Enter description" rows="1"></textarea>
    </div>

    <div class="form-group">
      <label for="entryPrice">Entry Price</label>
      <input type="text" formControlName="entryPrice" id="entryPrice" class="form-control" placeholder="Enter entry price">
    </div>

    <div class="form-group">
      <label for="offers">Offers</label>
      <input type="text" formControlName="offers" id="offers" class="form-control" placeholder="Enter offers">
    </div>

    <div *ngIf="this.data.id!=-99" class="form-group">
      <label for="createdAt">Created At</label>
      <input type="text" formControlName="createdAt" id="createdAt" class="form-control" placeholder="" >
    </div>

    <button type="submit" class="btn-primary">Submit</button>
  </form>
</div>
