<app-navigation-bar></app-navigation-bar>

<header class="hero">
  <h1>Discover awesome destinations</h1>
  <div class="search-area">
    <div class="search-container">
      <input [(ngModel)]="searchInput" (input)="onInputChange()" type="text" placeholder="Search destination"
             class="search-input"/>
      <i class="search-icon fas fa-magnifying-glass fa-pull-left "></i>
    </div>
    <div class="radio-buttons">
      <input
        type="radio"
        id="choice1"
        name="selection"
        value="category"
        class="input-radio-button"
        (change)="onChoice1Change($event)"
        checked
      />
      <label for="choice1" class="radio-label">Category</label>
      <input type="radio" id="choice2" name="selection" value="location" class="input-radio-button"
             (change)="onChoice2Change($event)"/>
      <label for="choice2" class='radio-label'>Location</label>
    </div>
  </div>
</header>

<section id="destinations" class="destination-cards">
  <div *ngFor="let attraction of touristAttractionsResult; index as i" class="card">
    <div *ngIf="wishlist" class="heart-icons">
      <mat-icon *ngIf="checkTouristRole() && !checkInWishlist(attraction.attractionId!)" (click)="addToWishlist(attraction.attractionId!)" class="heart-left">favorite</mat-icon>
      <mat-icon  *ngIf="checkTouristRole() && checkInWishlist(attraction.attractionId!)" class="heart-right">favorite</mat-icon>
    </div>
    <img [src]="attraction.imagePath" alt="TouristAttraction 1">
    <div class="card-body">
      <h4>{{attraction.name}}, {{attraction.location}}</h4>
      <p>{{attraction.category}}   <i (click)="openDetailsDialog(attraction.descriptionText!)"
                                      class="fas fa-info-circle"></i>
      </p>
      <p>Entry price: {{attraction.entryPrice}} EUR</p>
      <p *ngIf="attraction.offers">Offers: {{attraction.offers}}</p>
      <p>Operational hours: {{attraction.openingTime}} - {{attraction.closingTime}}</p>
      <p>Contact information: {{attraction.contactInfo}}</p>
      <p>Address: {{attraction.address}}</p>
    </div>
    <button *ngIf="checkTouristRole()" mat-button color="warn"
            (click)="openReviewsDialog(attraction)">Reviews
    </button>
  </div>
</section>

<footer class="site-footer">
  <div class="container">
    <p>&copy; 2024 Travel Points. All rights reserved.</p>
  </div>
</footer>
